.footer {
    background-color: #555;
    padding: 6rem 0;

    .icofont-3x {
        font-size: 2.5rem;
    }

    &--cont {

        a:link,
        a:visited {
            color: black;
        }

        a:hover {
            text-decoration: none;
            color: rgb(58, 69, 71);
        }
    }
}